<!DOCTYPE html>
<html>
<head>
	<title>Voting App</title>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://d3js.org/d3.v4.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.7.1/d3-tip.min.js"></script>
	<script
		  src="https://code.jquery.com/jquery-3.2.1.min.js"
		  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
		  crossorigin="anonymous"></script>
	<script type="text/javascript" src="../js/app.js"></script>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<style type="text/css">
		
		.tooltip{
			border-radius: 4px;
			background-color: #000;
			height: 80px;
			width: 150px;
			color: #fff;
			text-align: center;
			padding-top: 5px;
			font-family: sans-serif;
			font-size: 15px;
			opacity: 0.8;
			pointer-events: none;
		}

		a{
			text-decoration: none;
		}

		#twitter-share-btn{
			background: #4099FF;
		}

		#twitter-share-btn a{
			color: #fff;
			text-decoration: none;
		}

		.box{
			min-height: 20px;
			max-width: 20px;
		}

		#legend{
			padding-top: 20px;
		}

	</style>
</head>
<body>

	<div class="container jumbotron">
		{{#if user.name}}
			<nav class="navbar navbar-inverse">
			  <div class="container-fluid">
			    <div class="navbar-header">
			      <a class="navbar-brand" href="/">FCC Voting App</a>
			    </div>
			    <ul class="nav navbar-nav">
			      <li><a href="/mypolls">My Polls</a></li>
			      <li><a href="/newpoll">New Poll</a></li>
			    </ul>
			    <ul class="nav navbar-nav navbar-right">
			      <li><a href="/"><span class="glyphicon glyphicon-user"></span> {{user.name}}</a></li>
			      <li><a href="/logout"><span class="glyphicon glyphicon-off"></span> Logout</a></li>
			    </ul>
			  </div>
			</nav>
		{{else}}
			<nav class="navbar navbar-inverse">
			  <div class="container-fluid">
			    <div class="navbar-header">
			      <a class="navbar-brand" href="/">FCC Voting App</a>
			    </div>
			    <ul class="nav navbar-nav navbar-right">
			      <li><a href="/auth/twitter"><span class="glyphicon glyphicon-user"></span> Login With Twitter</a></li>
			    </ul>
			  </div>
			</nav>
		{{/if}}

		{{{body}}}

		<footer class="text-center">
			<span>This is a FCC Backend Project by <a href="http://nirmalrizal.com.np">Nirmal Rijal</a></span><br>
			<span>Project Link : <a href="https://github.com/nirmalrizal53/FCC-Voting-App">nirmalrizal53/FCC-Voting-App</a></span>
		</footer>

	</div>

</body>
</html>